# cache directory for pip and other package managers
/cache

# Python Virtual Environment
/venv
.env

# Test data folder
/test/data

# pytest cache and coverage files
.pytest_cache
.coverage

# Python cache files
.cache

# Python byte compiled files
__pycache__/

# IDE
.idea
.vscode